*{

   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: 'Times New Roman', Times, serif;
}

body
   text-align: center;
   backgrund: linearGradient(to botton,  rgb(241, 6, 162),
   rgb(164, 36, 215);
   min-heigh: 100vh
   {
main{
    position: relative;
    margin-top:2%;
    padding: 15px;

}
.pokedex(
    width:100%
    max-width: 425px:
)

.pokedex_img(
 position-absolute;
 botton: absolute;
 :left: 50%
transform: translate(-63%, 20%)
heigh: 18%

)

   }


)

.imput_search {
   width: 100%;






}